/* Student Name: Grant Hayes
styles.css
09/07/25 */

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for images */
img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Style rules for main content */
main {
    display: block;
    margin: 1% 1% 15%;
    padding: 1%;
    font-size: 1.5em;
    font-family: 'Crimson Text', serif;
}

header,
main,
footer {
    padding: 1.2em;
}

p {
    font-size: 1.2em;
}

body {
    background-color: #f0f0f0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3 {
    text-align: center;
}

.trail-info > h3 {
    border-bottom: 2px solid #ccc;
}

nav a:hover {
    color: #ffa500;
}

footer p {
    font: italic bold 14px/1.5 Verdana, sans-serif;
}