/* Grant Hayes
styles.css
09/07/25 */

/* CSS Reset */
 body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
 }

/* Style rules for images */
img {
    width: 100%;
    display: block;
}

/* Other style rules */
header,
main,
footer {
    padding: 1.2em
}

p {
    font-size: 1.2em
}

body {
    background-color: #f0f0f0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  display: block;
  padding: 1em;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  font-family: 'B612', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'B612', sans-serif;
}

.trail-info>h3 {
    border-bottom: 2px solid #ccc;
}

nav a:hover {
    color: #ffa500
}

footer p {
    font: italic bold 14px/1.5 Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #e6e6e6, #c2c2c2);
    font-family: 'Crimson Text', serif;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}