/* Student Name: Grant Hayes
styles.css
09/14/25 */

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    width: 100%;
    display: block;
    border-radius: 8px;
}


/* Other */
header,
main,
footer {
    padding: 1.2em;
}

body {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #e6e6e6, #c2c2c2);
    font-family: 'Crimson Text', serif;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  display: block;
  padding: 1em;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  font-family: 'B612', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'B612', sans-serif;
}

.trail-info > h3 {
    border-bottom: 2px solid #ccc;
}

nav a:hover {
    color: #ffa500;
}

footer p {
    font: italic bold 14px/1.5 Verdana, sans-serif;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Mobile viewport content */
.mobile-only {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* tablet content viewport */
@media screen and (min-width: 620px) {
    .mobile-only {
        display: none;
    }
    .tablet-desktop {
        display: block;
    }

    nav li {
        display: inline-block;
        margin: 0 0.5em
    }

    main {
        column-count: 2
        column-gap: 2em
    }

/* Desktop style content viewport */
@media screen and (min-width: 1000px) {
    nav a {
        padding: 0.5em 2em;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #555;
        color: #ffa500;
    }

    main {
        column-count: 3;
        column-gap: 2em;
    }
}


/* Desktop content style viewport */
@media screen and (min-width: 1921px) {
    body {
        max-width: 1800px;
        margin: 0 auto;
    }

    main {
        font-size: 1.2em;
    }
}

/* viewport for print */
@media print {
    body {
        background: #fff;
        color: #000;
        font-size: 12pt;
    }

    nav, footer {
        display: none;/
    }

    main {
        column-count: 2;
    }